* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.font-Inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.container {
    max-width: 1140px;
    margin: 34px auto;
}
nav {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .menu {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 35px;
  align-items: center;
}
nav .menu a {
  font-size: 16px;
  color: #000000;
  text-decoration: none;
}
nav .menu a:hover {
    color: blue;
}
.btn {
    background-color: #469165;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}
.btn:hover {
    color:bisque
}
