* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.font-Inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.container {
  max-width: 1140px;
  margin: 34px auto;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .menu {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 35px;
  align-items: center;
}
nav .menu a {
  font-size: 16px;
  color: #000000;
  text-decoration: none;
}
nav .menu a:hover {
  color: blue;
}

.text-content {
  text-align: center;
}
.container {
  margin: 0 auto;
}
#hero .hero-content {
  background: url("../assets/hero-bg.png");
  background-repeat: no-repeat;
  padding-top: 155px;
  height: 674px;
  text-align: center;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
}
.hero-content .hero-mark {
  margin: 0 auto;
  background-color: #ffffff;
  color: #30b868;
  border-radius: 1000px;
  width: 229px;
  height: 35px;
  cursor: pointer;
}
.hero-mark {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.hero-mark .dot {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  display: inline-block;
  background-color: #30b868;
  box-shadow: 0 0 0 4px rgba(67, 142, 100, 0.25);
}
#hero .hero-content h3 {
  color: #ffffff;
  margin-top: 20px;
  width: 1500px;
  padding-left: 100px;
  font-size: 70px;
  font-weight: 700;
  text-transform: capitalize;
}
#hero .hero-title {
  color: #30b868;
}
#hero .hero-content p {
  color: #ffffff;
  padding-left: 250px;
  height: 60px;
  width: 1360px;
  font-size: 18px;
  font-weight: 400px;
  line-height: 24px;
  text-align: center;
}
.button {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.btn {
  background-color: #469165;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 16px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
.text-content .btn_1 {
  color: #ffffff;
  background-color: transparent;
  gap: 20px;
  border: 1px solid rgba(255, 255, 255, 1);
}
.notes-heading {
  text-align: center;
}
.notes-heading h3{
  padding-top: 30px;
  font-size: 48px;
  font-weight: 700;
}
.notes-heading p{
  padding-top: 16px;
  font-size: 16px;
  font-weight: 400;
  color: #627382;
}
.notes-details {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 44px;
  gap: 26px;
}
/* .card-details {
  align-items: center;
} */
.icons{
  padding: 9px 11px;
  background-color: #F95555;
  border-radius: 1000px;
  margin-top: 69.5px;
  margin-left: 131px; 
}
.card-details {
  width: 296px;
  height: 300px;
  border-radius: 8px;
  box-shadow: 0px 7px 7px 0px rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
}
.card-details p{
  width: 274px;
  margin-top: 10px;
  color:#627382;
  font-weight: 400;
  line-height: 20px;
}
.card-details h4 {
  margin-top: 15px;
}
/* Brain image section Starts here */

.brain_section {
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 60px;
 padding: 120px;
}
.side_heading {
  font-weight: 500;
  font-style: medium;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #469165;
}
.side_content h3 {
  text-transform: capitalize;
  font-weight: 700;
  font-style: bold;
  font-size: 48px;
  color: #001931;
  margin-bottom: 10px;
}
.side_content p{
  color: #627382;
  font-size: 16px;
  font-weight: 400;
}
.side_list{
  list-style: none;
  padding-top: 36px;
}
.side_list img{
  vertical-align: middle;
}
.side_list li {
  padding-bottom: 10px;
}