* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.font-Inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.container {
  max-width: 1140px;
  margin: 34px auto;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .menu {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 35px;
  align-items: center;
}
nav .menu a {
  font-size: 16px;
  color: #000000;
  text-decoration: none;
}
nav .menu a:hover {
  color: blue;
}

.text-content {
  text-align: center;
}
.container {
  margin: 0 auto;
}
#hero .hero-content {
  background: url("../assets/hero-bg.png");
  background-repeat: no-repeat;
  padding-top: 155px;
  height: 674px;
  text-align: center;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;
  padding: 0 20px;
}
.hero-content .hero-mark {
  margin: 0 auto;
  background-color: #ffffff;
  color: #30b868;
  border-radius: 1000px;
  width: 229px;
  height: 35px;
  cursor: pointer;
}
.hero-mark {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.hero-mark .dot {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  display: inline-block;
  background-color: #30b868;
  box-shadow: 0 0 0 4px rgba(67, 142, 100, 0.25);
}
#hero .hero-content h3 {
  color: #ffffff;
  margin-top: 20px;
  width: 1500px;
  padding-left: 100px;
  font-size: 70px;
  font-weight: 700;
  text-transform: capitalize;
}
#hero .hero-title {
  color: #30b868;
}
#hero .hero-content p {
  color: #ffffff;
  padding-left: 250px;
  height: 60px;
  width: 1360px;
  font-size: 18px;
  font-weight: 400px;
  line-height: 24px;
  text-align: center;
}
.button {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.btn {
  background-color: #469165;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 16px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
.text-content .btn_1 {
  color: #ffffff;
  background-color: transparent;
  gap: 20px;
  border: 1px solid rgba(255, 255, 255, 1);
}
